<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>TASKS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4">Task App</h1>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/create-task" method="POST">
                            <div class="form-group">
                                <input type="text" placeholder="Task" class="form-control" name="content">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {%  for task in tasks %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="{%  if task.done %} done {% endif %}">{{ task.content }}</span>
                               <span class="{%  if task.done %} done {% endif %}">{{ task.id }}</span>
                                <a href="/done/{{ task.id }}" class="btn btn-success btn-sm">Done</a>
                                <a href="/delete/{{ task.id }}" class="btn btn-danger btn-sm">Delete</a>
                                </li>
                            {%  endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>